body {
    font-size: 0.9rem;
}

.sidebar {
    min-height: 100vh;
    background-color: #343a40;
}

.sidebar .nav-link {
    color: #fff;
}

.sidebar .nav-link.active {
    background-color: #495057;
}
